<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap-material-design.min.css">
    <title>VueJS Computed Properties</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col text-center justify-content-center p-3 m-3">
                    <h1>{{ welcome }}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="wrapper col text-center justify-content-center p-3 m-3">
                    <h5>Methods</h5>
                    <p>{{ message }}</p>
                    <p>{{ reversedMessage }}</p>
                    <button class="btn btn-info" @click="reverseMessage">Reverse Message</button>
                    <button class="btn btn-danger" @click="clear">Clear</button>
                </div>

                <div class="wrapper col text-center justify-content-center p-3 m-3">
                    <h5>Computed</h5>
                    <p>Message: {{ message }}</p>
                    <p>Reversed: {{ computedReversed }}</p>
                </div>

                <div class="wrapper col text-center justify-content-center p-3 m-3">
                    <h5>Another example of computed properties</h5>
                    <label for="search">Search team: </label>
                    <input type="text" name="search" v-model="searchTeam">
                    <ul>
                        <li v-for="team in searchTeamList">{{ team }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  

    <style>
        .wrapper {
            padding: 0.25rem;
            border: 2px solid #333;
        }
        .wrapper ul {
            list-style: none !important;
        }
    </style>
    <script src="../js/vue.js"></script>
    <script src="app.js"></script>

</body>
</html>